server:
  port: 80

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  sql:
    init:
      mode: never

management:
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: false

logging:
  level:
    com.codeit.mopl: info
    org.hibernate.sql: warn
    org.hibernate.orm.jdbc.bind: off