server:
  port: 80

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  sql:
    init:
      mode: never

  kafka:
    bootstrap-servers: ${CONFLUENT_BOOTSTRAP_SERVERS}

    properties:
      security.protocol: ${KAFKA_SECURITY_PROTOCOL:SASL_SSL}
      sasl.mechanism: ${KAFKA_SASL_MECHANISM:PLAIN}
      sasl.jaas.config: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username="${CONFLUENT_API_KEY}"
        password="${CONFLUENT_API_SECRET}";

    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:mopl-notification}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: false

logging:
  level:
    com.codeit.mopl: info
    org.hibernate.sql: warn
    org.hibernate.orm.jdbc.bind: off