server:
  port: 8080

spring:
  datasource:
    url: ${POSTGRESQL_DATASOURCE_URL:}
    username: ${POSTGRESQL_DATASOURCE_USERNAME:}
    password: ${POSTGRESQL_DATASOURCE_PASSWORD:}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
  sql:
    init:
      mode: never
      schema-locations: classpath:schema-pg.sql

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    metrics:
      access: unrestricted
    loggers:
      access: unrestricted
logging:
  level:
    com.codeit.mopl: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.security: trace
